- @meta_title = "Impressum"
- @meta_description = "Falls ma was is."
- @meta_keywords = %w{ Kontakt Imprint Headquarter }

%h1= @meta_title

%p
  ANKKB.com ist eine rein private Seite, ohne irgendeine Form von gewerblichen Hintergrund oder Absicht.

%p
  Trotz sorgfältiger Kontrolle der hier verlinkten Ressourcen und der von Nutzern generierten Inhalte auf dieser Seite, übernehmen wir keinerlei Haftung für deren Inhalt.

%p
  Bei Fragen oder Beschwerden, kannst du dich gern an uns wenden:

%p.centered
  %img{ :src => url("/images/0x048984354.jpg") }
