- @meta_description = "ANKKB Hergershausen: Als noch ka Kerbborsche. Die offizielle Seite der Hergershäuser Unvereinigung"

%p.centered
  %img{ :src => url("/images/logo_frontpage.jpg"), :alt => "Hergershäuser Schönheit: Ludmilla" }

%h1.centered
  Als Noch Ka Kerb Borsche in Hergershausen

%p.centered= "Und jetzt ham mer scho #{Time.now.year}!"