- @meta_title = "ANKKB Startseite"
- @meta_description = "Als noch ka Kerbborsche im schöne Hergershausen."

%p.centered
  %img{ :src => url("/images/logo_frontpage.jpg") }

%h1.centered
  Als Noch Ka Kerb Borsche

%p.centered= "Und jetzt ham mer scho #{Time.now.year}!"