!!! 5
%html{:lang => "en", :class => "no-js"}
  %head
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "viewport", :content => "width=device-width;" }/

    %title= site_title(@meta_title)
    %meta{ :name => "description", :content => site_description(@meta_description) }/
    %meta{ :name => "keywords", :content => site_keywords(@meta_keywords) }/

    %meta{:content => "ANKKB", :name => "author"}/
    %meta{:content => "de", :name => "language"}/

    %meta{ :property => "og:title", :content => site_title(@meta_title) }
    %meta{ :property => "og:description", :content => site_description(@meta_description) }
    %meta{ :property => "og:language", :content => "de" }
    %meta{ :property => "og:site_name", :content => "ANKKB" }
    %meta{ :property => "og:type", :content => "non_profit" }
    %meta{ :property => "og:image", :content => "http://ankkb.com/apple-touch-icon-114x114-precomposed.png" }
    %meta{ :property => "fb:admins", :content => "1446137344" }

    %link{ :rel => 'stylesheet', :type => 'text/css', :href => url('stylesheets/style.css') }

    %script{ :type => 'text/javascript', :src =>  url('javascripts/libs/modernizr-2.0.6.min.js') }
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '#{settings.google["analytics"]}']);
      _gaq.push(['_setDomainName', '.ankkb.com']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
  %body{ :class => "" }
    #container
      %header
        %a{:href => "/", :title => "Startseite - Als noch ka Kerbborsche Hergershausen"}
          %img{:alt => "ANNKB - Als noch ka Kerbborsche in Hergershausen", :src => "/images/header.jpg"}/

      %nav
        %ul
          %li
            %a{:href => url("/about"), :title => "Wer ist ANKKB Hergershausen?" } Über uns
          %li
            %a{:href => url("/albums"), :title => "Fotos von Veranstaltungen in Hergershausen" } Bilder
          %li
            %a{:href => url("/events"), :title => "Events in unserem schönen Hergershausen" } Veranstaltungen
          %li
            %a{:href => url("/imprint"), :title => "Kontaktdaten der ANKKB Hergershausen" } Impressum

      #content{ :role => "main" }
        = yield
        .clear

      %footer
        .hr_stars
        .like_box
          :plain
            <iframe src="http://www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fhergershausen&amp;width=600&amp;colorscheme=light&amp;show_faces=true&amp;border_color=%23f0f0f0&amp;stream=false&amp;header=false&amp;height=258" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:600px; height:258px;" allowTransparency="true"></iframe>


        %ul.footer_links
          %li
            %a{ :href => "https://plus.google.com/105234261644752334742", :rel => "publisher" }
              ankkb auf Google+
          %li
            %a{ :href => "http://facebook.com/hergershausen" }
              ankkb auf Facebook

    %script{ :src => '//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js' }
    -# fall back to local jQuery if necessary
    :javascript
      window.jQuery || document.write("<script src='/javascripts/libs/jquery.min.js'>\x3C/script>")
    = javascript_includes